BOT_TOKEN=
ANTHROPIC_API_KEY=
HIGGSFIELD_API_KEY=
HIGGSFIELD_API_ID=45b9969c-5c22-4457-b6d7-58b029a0829b
HIGGSFIELD_API_SECRET=a9bf1073b8848f600e5e7fe2e3f504bab00beda653ea5701e8341ae82a0127c5
DATABASE_URL=postgresql://neondb_owner:npg_nr2kaQbzdeH1@ep-summer-hall-al4hlhq6.c-3.eu-central-1.aws.neon.tech/solvofit?sslmode=require
WEBHOOK_URL=
ADMIN_TG_ID=550421233
