BOT_TOKEN=
ANTHROPIC_API_KEY=
HIGGSFIELD_API_KEY=
DATABASE_URL=postgresql://neondb_owner:npg_nr2kaQbzdeH1@ep-summer-hall-al4hlhq6.c-3.eu-central-1.aws.neon.tech/solvofit?sslmode=require
WEBHOOK_URL=
ADMIN_TG_ID=550421233
